.form-control[disabled], fieldset[disabled] .form-control  {
    cursor: default; /* overrides 'not-allowed' which looks a bit aggressive */
}

.error { color: red;}
.technicaldetails { color: lightgray;}
th, td {padding: 10px;}
tr td:first-of-type, tr th:first-of-type {padding-left: 0px;}