.form-control[disabled], fieldset[disabled] .form-control  {
    cursor: default; /* overrides 'not-allowed' which looks a bit aggressive */
}
.bootstrap-filestyle .buttonText {
    margin-left:5px;
}

.error { color: red;}
.technicaldetails { color: lightgray;}
table.spaced>thead>tr>th, table.spaced>tbody>tr>td {padding: 10px;}

table.form {
    width: 100%;
}

table.internalpadding5>tbody>tr>td { padding: 0px 5px 0px 5px;}
table.internalpadding5>tbody>tr>td:last-of-type { padding-right: 0;}
table.internalpadding5>tbody>tr:last-of-type>td { padding-bottom: 0;}
table.internalpadding5>tbody>tr>td:first-of-type { padding-left: 0;}
table.internalpadding5>tbody>tr:first-of-type>td { padding-top: 0;}


div.logo {
    background: url('../images/AUK-Full-Black-500.png') no-repeat;
    background-size: auto 172px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 349px;
    height: 172px;
}

tr.mapheader>td>div:first-of-type {
    min-height: 192px;
}

#toleranceLabel {
    display: inline-block;
    min-width: 50px;
}

table.mapcontainer {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
tr.mapheader {
    height: 100px;
}

div#map {
    display: inline-block;
    height: 100%;
    width: 100%;
}

div#stats {
    min-width: 600px
}

div#stats table th, div#stats table td {
    padding: 0 15px 10px 15px
}

td.mapcontainer {
    display:table-cell;
    vertical-align: middle;
    width:100%;
    height:100%;
}

.result {
    font-size: 1.2em;
    font-weight: bold;
}
.result.ACCEPT {
    color: green;
}
.result.REFER {
    color: ORANGE;
}
#referralpages {
    margin: 0;
}
#referralpages li a {
    cursor: default;
}

input.btn, a.btn {
    min-width: 120px;
}

.jGrowl.error {
    background: rgb(255, 217, 229);
    border: 1px solid rgb(205, 10, 10);
    color: rgb(205, 10, 10);
    -ms-opacity: 1;
    opacity: 1;
}
